@import "../../styles/style_utils";

.pagination {
  display: flex;

  .page-item {
    border: 1px solid $primary-400;
    cursor: pointer;
    background-color: $white;
    transition: all 0.3s;

    &:hover {
      background-color: $primary-400;
    }
  }
  
  .page-link {
    display: block;
    height: 40px;
    width: 40px;
    color: $blue-700;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .disabled {
    background-color: $primary-300;
    cursor: default;

    &:hover {
      background-color: $primary-300;
    }

    & a {
      color: $primary-700;
    }
  }

  .active {
    background-color: $blue-700;

    &:hover {
      background-color: $blue-700;
    }

    & a {
      color: white;
    }
  }
}