@import "../../styles/style_utils";

.notification {
  position: fixed;
  bottom: 20px;
  right: 0;
  max-width: 300px;
  padding: 2rem;
  border: 1px solid $primary-400;
  background-color: $white;
  border-radius: 0.25rem;
  z-index: 999;

  &-enter {
    transform: translateX(100%);
  }

  &-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
  }

  &-exit {
    transform: translateX(0);
  }

  &-exit-active {
    transform: translateX(100%);
    transition: transform 300ms;
  }
}
