@import '../../styles/style_utils.scss';

.catalog {
  &__content {
    width: 100%;

    @include onLaptop {
      @include page-grid;
    }
  }

  &__top-titles {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 25px;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
    }

    @include onLaptop {
      margin-bottom: 45px;
      grid-column: 1/-1;
    }
  }

  &__available-title {
    @extend %main-text;
  }

  &__filters {
    @include onLaptop {
      grid-column: span 2;
    }
  }

  &__pets {
    @include onLaptop {
      grid-column: 3/-1;
    }
  }

  &__open-filters-btn {
    @include primary-button;
  }

  &__error-message {
    text-align: center;
  }

  &__reset-filters {
    @include primary-button;
    width: 180px;
  }
}