@import "../../styles/style_utils";

.nav-list {
  &__items {
    display: flex;
    
    &--header {
      align-items: center;

      @include onLaptop {
        gap: 40px;
      }
    }

    &--footer {
      flex-direction: column;
      gap: 8px;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;

    @include hover(color, $blue-500);

    &--is-active {
      color: $blue-700;
    }
  }
}