@import "./vars";
@import "./mixins";

%main-text {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 140%;
}

%large-text {
  font-size: 1.25rem;
}

%medium-text {
  font-size: 1.6rem;
  line-height: 120%;
}

%secondary-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%; 
}

%small-text {
  font-size: 14px;
  font-weight: 400;
}

%detail-title {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 600;

  @include onLaptop {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}

%detail-text {
  font-size: 0.9rem;
  font-weight: 400;
  color: $primary-1200;

  @include onLaptop {
    font-size: 1rem;
  }
}

%buttons {
  @extend %main-text;
  color: $primary-600;
  cursor: pointer;
}
