@import "../../styles/style_utils";

.pick-up {
  width: 100%;

  &__form {
    @include onLaptop {
      font-size: 1.25rem;
    }
  }

  &__fields {
    display: grid;
    gap: 16px;
    margin-bottom: 2rem;

    @include onLaptop {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px 20px;
    }
  }

  &__field {
    @include onLaptop {
      &--small {
        grid-column: span 1;
      }

      &--big {
        grid-column: span 2;
      }
    }
  }

  &__button {
    @include primary-button;
  }
}
