@import "../../styles/style_utils";

.footer {  
  &__content {
    @extend %secondary-text;
    @include page-grid;
    width: 100%;
    row-gap: 24px;
    padding-block: 2rem;
    color: $primary-1300;
    border-bottom: 1px solid $primary-600;
  }

  @include onTablet {
    row-gap: 24px;
  }

  @include onLaptop {
    border-top: 1px solid $primary-600;
  }

  &__item {
    display: flex;

    @include onTablet {
      justify-content: center;
    }

    @include onLaptop {
      justify-content: start;
    }

    &--logo {
      grid-column: 1/-1;

      @include onLaptop {
        grid-column: 1/3;
      }
    }
    
    &--nav {
      grid-column: 1/-1;

      @include onLaptop {
        grid-column: 3/5;
      }
  
      @include onDesktop {
        grid-column: 4/6;
      }
    }
  
    &--contacts {
      grid-column: 1/-1;

      @include onLaptop {
        grid-column: 5/-1;
      }
  
      @include onDesktop {
        grid-column: 6/-1;
      }
    }

    &--rights {
      @extend %small-text;
      display: flex;
      justify-content: space-between;
      padding-top: 1.5rem;
      grid-column: 1/-1;

      @include onLaptop {
        border-top: 1px solid $primary-600;
      }
    }
        
    &:not(:last-child) {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $primary-600;

      @include onLaptop {
        padding-bottom: none;
        border-bottom: none;
      }
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 22px;

    @include onTablet {
      width: 288px;
    }
  }

  &__item-list {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include onTablet {
      width: 288px;
    }

    @include onLaptop {
      width: 100%;
    }

    &--contacts {
      gap: 16px;
    }
  }

  &__contact-info {
    @include onLaptop {
      &:hover {
        cursor: pointer;
        
        a {
          color: $blue-500;
        }
      }
    }
  }

  &__contact-title {
    margin-bottom: 0.5rem;
  }

  &__contact-link {
    @extend %small-text;
    display: inline-block;
    color: $primary-900;
    padding-left: 0.5rem;
  }

  &__team-name {
    color: $blue-700;
  }

  &__rights-text {
    color: $primary-1000;
  }
}
