// @import "normalize.css/normalize.css";
@import "./styles/extends.scss";
@import "./styles/mixins.scss";
@import "./styles/vars.scss";

iframe {
  display: none;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  color: $primary-900;

  body {
    margin: 0;
    font-size: 0.9rem;

    @include onLaptop {
      font-size: 1.1rem;
    }
  }
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;

  @include onLaptop {
    font-size: 2.5rem;
  }

  @include onDesktop {
    font-size: 2.75rem;
  }
}

h2 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 140%;

  @include onLaptop {
    font-size: 2rem;
  }

  @include onDesktop {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 140%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  line-height: 120%; 
  color: $primary-1200;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  user-select: none;
}

svg {
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  background-color: transparent;
}
