@import "../../styles/style_utils";

.pet-page {
  @include section-gap;

  &__content {
    width: 100%;
  }

  &__title {
    margin-bottom: 24px;
  
    @include onLaptop {
      margin-bottom: 32px;
    }
  }
}